HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

#STS#
application.properties
logfile.log
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache